.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

header{
    background-color: blue;
    grid-column: 1/4;
}

.sidebar{
    background-color: red;
    grid-row: 2/4;
    column-width: 50px;
}

main{
    background-color: beige;
    grid-column: 2/3;
    grid-row: 2/3;
}

.right{
    background-color: yellow;
    grid-column: 3/4;
    grid-row: 2/3;
}

footer{
    background-color: black;
    color: white;
    grid-column: 2/4;
}
